.app__header {
  background: var(--color-black);
}

.app__header-h1 {
  font-family: var(--font-base);
  color: var(--color-golden);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  line-height: 117px;
  font-size: 85px;
}

@media screen and (max-width: 1440px) {
  .app__header-h1 {
    font-size: 70px;
    line-height: 100px;
  }
}
